@charset "utf-8";
/* CSS Document for Gaming-Passion v2 Mobile */
*{
	padding:0px;
	margin:0px;	
}
body{
	background-color:#232323;
	font:12px Arial;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
}
a{
	color:#333;
	text-decoration:none;
}
a:hover{
	color:#cccccc;
	text-decoration:none;	
}
#header{
	margin:0px auto;
	width:100%;
	background-color:#222222;
	height:10%;
	border-bottom:3px solid #89ca3f;
}
#main-logo{
	float:center;
}
#main-logo img{
	width:50%;
}
#main-logo:hover{
	opacity:0.8;	
}
#main-content{
	margin:0px auto;
	width:100%;
	text-align:center;
}
#main-content .post-small{
	padding:0.5em;
	margin:0.5em;
	text-align:center;
	background-color:#F9F9F9;
	border:1px solid #E9E9E9;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	font:4em Arial;
}
.post-small h2{
	color:white;
	text-align:center;
	font-weight:normal;
	padding:0.5em;
	margin:0.5em;
	border:1px solid #999;
	border-top:3px solid #89ca3f;
	background-color:#6EA62E;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.post-small h3{
	text-align:left;
	padding:0.5em;
}
.post-small p{
	text-align:justify;
	padding:0.5em;
}
.post-small iframe{
	width:100%;
	height:100%;
}
.post-small img{
	width:100%;
	height:100%;
}

#main-content h1{
	font:1em Arial;
	color:white;
	text-align:center;
	font-weight:normal;
	padding:0.5em;
	margin:0.5em;
	border:1px solid #999;
	border-top:3px solid #89ca3f;
	background-color:#6EA62E;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
#footer{
	text-align:center;
	margin:0px auto;
	width:100%;
	color:#999999;
	font:4em Arial;
}
#footer ul li{
	display:inline;
	list-style:none;
}
#footer li{
	padding:0.5em;
}
#footer h6{
	padding:0.5em;
}
#footer a{
	color:#999999;
}
#footer a:hover{
	color:#ffffff;	
}
.holder{
	clear:both;
}
.quote{
	color:#999;
	font:.8em Arial;
	font-style:italic;
	margin-left:2em;
}
.code{
	background-color:#000;
	color:#CCC;
	border:1px solid #444;
	padding:5px;
}